<% @page_title = "Display Page: #{@page.name}" %>

<%= link_to('<< Back to List', {:action => 'list', :subject_id => @subject.id}, :class => 'back-link') %>

<div class='page show'>
	<h2>Show Page</h2>
	<table summary='Page detail view'>
		<tr>
			<th>Name</th>
			<td><%= @page.name %></td>
		</tr>
		<tr>
			<th>Position</th>
			<td><%= @page.position %></td>
		</tr>
		<tr>
			<th>Permalink</th>
			<td><%= @page.permalink %></td>
		</tr>
		<tr>
			<th>Subject</th>
			<td>
				<% if @page.subject.nil? %>
					&nbsp;
				<% else %>
					<%= link_to(@page.subject.name, {:controller => 'subjects', :action => 'show', :id => @page.subject.id}) %>
				<% end %>
			</td>
		</tr>
		<tr>
			<th>Sections</th>
			<td><%= link_to(@page.sections.size, {:controller => 'sections', :action => 'list', :page_id => @page.id}) %></td>
		</tr>
		<tr>
			<th>Visible?</th>
			<td><%= @page.visible ? 'Yes' : 'No' %></td>
		</tr>
		<tr>
			<th>Created</th>
			<td><%= @page.created_at %></td>
		</tr>
		<tr>
			<th>Updated</th>
			<td><%= @page.updated_at %></td>
		</tr>
	</table>
</div>